.form-contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.form-contact .container-input {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
  padding: 0.5rem;
}

.form-contact .container-input > label {
  color: var(--aux2);
  font-weight: 600;
}

.container-input .inputClass {
  width: 100%;
  min-height: 3rem;
  outline: none;
  font-family: var(--fontStyle_1);
  border: none;
  border-radius: 0.3rem;
  resize: none;
  padding-left: 0.5rem;
  font-size: larger;
  border: 2px solid transparent;
}

.container-input .inputClass::placeholder {
  font-size: 1.3rem;
}

.container-input .inputClass:focus {
  border-color: var(--bg);
}

.container-input:nth-child(4) > .inputClass {
  min-height: 5rem;
}

.form-contact > button {
  width: 70%;
  border: none;
  border-radius: 0.5rem;
  font-size: large;
}
