header {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

header > .figure-logo {
  display: block;
  width: 6rem;
  height: 6rem;
  box-sizing: content-box;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
  z-index: 3;
}

header > .figure-logo > a {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
}

header > .figure-logo > a > img {
  width: 100%;
  height: 100%;
}

header > .nav-header {
  position: absolute;
  top: 0;
  width: 0%;
  height: 100dvh;
  display: grid;
  place-items: center;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

header > .nav-header > ul {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header > .nav-header > ul > li > a {
  opacity: 0;
  width: 0;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  text-shadow: 1px 1px 5px var(--clr);
  color: var(--bg);
}

header > .container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  z-index: 2;
}

header > .container-menu > .btn-menu {
  position: relative;
  width: 95%;
  height: 95%;
  border: none;
  background: transparent;
  border-radius: 0.5rem;
}

header > .container-menu > .btn-menu::before,
header > .container-menu > .btn-menu::after {
  position: absolute;
  content: "";
  left: 0.4rem;
  height: 0.2rem;
  background: var(--clr1);
  transition: all 0.5s ease-in-out;
}

header > .container-menu > .btn-menu::before {
  top: 1rem;
  width: 80%;
}

header > .container-menu > .btn-menu::after {
  top: 2.5rem;
  width: 60%;
}

@media screen and (max-width: 1023px) {
  header > .nav-header {
    backdrop-filter: blur(2rem);
  }

  header.show > .nav-header {
    width: 100%;
    opacity: 1;
    z-index: 2;
    border: none;
    box-shadow: none;
  }
  header.show > .nav-header > ul > li > a {
    opacity: 1;
    width: 100%;
    font-size: 2rem;
  }

  header.show > .container-menu > .btn-menu::before,
  header.show > .container-menu > .btn-menu::after {
    width: 100%;
    top: 1.7rem;
    left: 0;
    box-shadow: 1px 1px 5px var(--clr);
  }

  header.show > .container-menu > .btn-menu::before {
    transform: rotate(-45deg);
  }

  header.show > .container-menu > .btn-menu::after {
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  header > nav.addEffect {
    max-height: 3rem;
    padding: 0rem;
    border-radius: 2rem;
    background: var(--aux3);
    margin-right: 15%;
    justify-content: center;
  }

  header > .nav-header {
    position: relative;
    width: 70%;
    max-height: 6rem;
    text-align: center;
    opacity: 1;
  }

  header > .nav-header > ul {
    width: 90%;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1rem;
  }

  header > .nav-header > ul > li {
    width: 150px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }

  header > .nav-header > ul > li:hover {
    transform: scale(1.05);
    background-color: var(--aux3);
  }

  header > .nav-header > ul > li > a {
    visibility: visible;
    opacity: 1;
    flex: 1;
    font-size: 1.5rem;
    color: var(--aux1);
    transition: all 0.3s ease-in-out;
  }

  header > .nav-header > ul > li:hover a {
    color: var(--clr);
  }

  header > .container-menu {
    display: none;
  }
}
