header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: none;
  color: var(--clrMain);
  z-index: 1;
}

.figure-logo {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  width: 3em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}

.figure-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out, width 0.3s ease-in-out;
}

header.showMenu .nav-header {
  width: 100%;
  opacity: 1;
  backdrop-filter: brightness(60%) blur(1rem);
}

.nav-header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2rem;
  height: 100dvh;
  width: 90%;
}

.header .nav-header ul a {
  opacity: 0;
}

header.showMenu .nav-header ul a {
  opacity: 1;
}

.container-menu {
  display: grid;
  place-items: center;
  width: 3em;
  height: 3em;
  z-index: 3;
  margin-right: 1rem;
}

.container-menu .btn-menu {
  position: relative;
  min-width: 75%;
  min-height: 75%;
  border-radius: 0.5rem;
  background: var(--clr2);
  border: none;
  transition: all 0.5s ease-in-out;
}

.btn-menu::after,
.btn-menu::before {
  display: flex;
  position: absolute;
  content: "";
  width: 80%;
  height: 5px;
  left: 0.5rem;
  background-color: white;
  transition: all 0.3s ease-in-out 0.1s;
}

.btn-menu::after {
  top: 1.3rem;
}

.container-menu .btn-menu::before {
  top: 2.8rem;
  width: 50%;
}

header.showMenu .btn-menu {
  background: var(--clrMain);
  border: 1px outset var(--clr2);
}

header.showMenu .btn-menu::before {
  width: 80%;
  top: 2rem;
  transform: rotate(45deg);
  background: var(--clr2);
}

header.showMenu .btn-menu::after {
  top: 2rem;
  transform: rotate(-45deg);
  background: var(--clr2);
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  header.addFilter {
    backdrop-filter: blur(1rem);
  }

  .figure-logo {
    width: 4.5em;
  }

  .container-menu {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .figure-logo {
    margin-left: 0.5rem;
  }

  .nav-header {
    position: relative;
    width: 90%;
    opacity: 1;
    display: flex;
    backdrop-filter: none;
  }

  .nav-header ul {
    flex-direction: row;
    justify-content: end;
    column-gap: 2rem;
    padding: 0.2rem;
    height: auto;
  }

  .nav-header ul li {
    text-align: center;
    min-width: 100px;
  }

  .nav-header ul a {
    font-size: 1.5rem;
  }

  .nav-header ul li {
    transition: all 0.5s ease;
    padding: 0.8rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
  }

  .nav-header ul li:hover {
    background: var(--clr2);
    backdrop-filter: brightness(50%) blur(1rem);
  }

  .container-menu {
    display: none;
  }
}

@media screen and (min-width: 1800px) {
  .figure-logo {
    width: 12rem;
    margin-left: 2rem;
  }

  .nav-header ul {
    column-gap: 15rem;
  }

  .nav-header ul a {
    font-size: 4rem;
  }
}
