.mainStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.container-about .presentation-about {
  padding: 1rem;
  background-color: var(--bg);
}

.container-about .presentation-about > article {
  padding: 0.3rem;
}

.container-about .presentation-about > article > h3 {
  text-align: justify;
}

.container-about .presentation-about > figure > img {
  width: 95%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.container-about .description-about {
  gap: 0.5rem;
  padding: 0.5rem;
}

.container-about .description-about > article {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.container-about .description-about > article > h2,
.container-about .description-about > article > h4 {
  color: var(--bg);
}

.container-about .description-about > article > img {
  width: 30%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .container-about .presentation-about {
    flex-direction: row;
  }

  .container-about .presentation-about > article {
    width: 50%;
  }

  .container-about .presentation-about > figure {
    width: 45%;
    height: 500px;
  }

  .container-about .presentation-about > figure > img {
    width: 100%;
    height: 100%;
  }

  .container-about .description-about {
    flex-direction: column;
  }

  .container-about .description-about > article > img {
    width: 25%;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-about .description-about {
    flex-direction: row;
    padding: 0.5rem;
  }

  .container-about .description-about > article {
    width: 33%;
  }

  .container-about .description-about > article > h2 {
    font-size: 1.9rem;
  }

  .container-about .description-about > article > h4 {
    font-size: 1.6rem;
    padding: 0.2rem;
    font-weight: 400;
  }
}
