#section-Contact .container-contact {
  text-align: center;
}

/**CONTENIDO DEL TITULO*/
.container-contact > .title-contact {
  display: grid;
  place-items: center;
  background-color: var(--bg);
}

/**CONTENIDO DEL FORM*/
.container-contact > .container-form {
  display: grid;
  place-items: center;
  justify-content: stretch;
  padding: 0.5rem;
  row-gap: 1rem;
}

.container-form > h2,
.container-map > h2 {
  font-family: var(--fontStyle_5);
  text-align: center;
  color: var(--bg);
}

/**CONTENIDO DEL MAPA*/
.container-contact .container-map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.container-map > figure {
  display: none;
}

@media screen and (min-width: 768px) {
  #section-Contact .container-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1/2fr repeat(2, 1fr);
    grid-template-areas:
      "title"
      "form"
      "map";
    column-gap: 1rem;
  }

  .container-contact > .title-contact {
    grid-area: title;
    align-self: stretch;
  }

  .container-contact > .container-form {
    grid-area: form;
    align-self: stretch;
  }
  .container-contact > .container-map {
    grid-area: map;
    align-self: stretch;
    position: relative;
    z-index: 0;
  }

  .container-map > figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 80%;
    padding: 0.5rem;
    min-height: 500px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  #section-Contact .container-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "form map"
      "form map";
  }
}
