#section-Contact {
  background-color: black;
}

#section-Contact .container-contact {
  text-align: center;
  background-color: red;
}

/**CONTENIDO DEL TITULO*/
.container-contact > .title-contact {
  background-color: chartreuse;
}

/**CONTENIDO DEL FORM*/
.container-contact > .container-form {
  padding: 0.5rem;
  background-color: green;
}

.container-contact > .container-form form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.5rem;
  background-color: violet;
}

.container-contact > .container-form .container-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: blue;
}

/**CONTENIDO DEL MAPA*/
.container-contact .container-mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: orange;
}

.container-mapa > figure {
  width: 90%;
  background-color: magenta;
}

@media screen and (min-width: 768px) {
  #section-Contact .container-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1/2fr repeat(2, 1fr);
    grid-template-areas:
      "title"
      "form"
      "map";
    column-gap: 1rem;
  }

  .container-contact > .title-contact {
    grid-area: title;
    align-self: stretch;
  }

  .container-contact > .title-contact h2 {
    font-size: 4rem;
  }

  .container-contact > .container-form {
    grid-area: form;
    align-self: stretch;
  }
  .container-contact > .container-mapa {
    grid-area: map;
    align-self: stretch;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  #section-Contact .container-contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "form map"
      "form map";
  }
}
