.container-home {
  width: 100%;
  gap: 1rem;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url(/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.container-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.container-information > h1 {
  color: var(--clr);
  font-family: var(--fontStyle_5);
  font-weight: 500;
  font-size: 2rem;
}

.container-information > h3 {
  width: 90%;
  color: var(--aux1);
  font-family: var(--fontStyle_2);
  font-weight: bolder;
  font-size: 1.5rem;
}

.container-schedule {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  border: 0.3rem inset var(--aux1);
  border-radius: 0.5rem;
  color: var(--aux1);
  box-shadow: 0px 0px 15px var(--clr);
  backdrop-filter: blur(1rem) brightness(150%);
  user-select: none;
}

.container-social {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  column-gap: 2rem;
  margin-bottom: 0.5rem;
}

.container-social figure {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.1s;
}

.container-social figure a {
  width: 100%;
  height: 100%;
  padding: 0;
}

.container-social figure a img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media screen and (min-width: 480px) {
  .container-information {
    gap: 1rem;
  }

  .container-information > h1 {
    font-size: 3rem;
  }

  .container-information > h3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container-information {
    gap: 3rem;
  }
  .container-schedule {
    width: 70%;
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-information > h1 {
    font-size: 4rem;
  }

  .container-social figure:hover {
    transform: scale(1.1);
    background-color: var(--bg);
  }

  .container-social figure:nth-child(1):hover {
    background: linear-gradient(45deg, red, violet, yellow);
  }

  .container-social figure:nth-child(3):hover {
    background: green;
  }
}

@media screen and (min-width: 834px) {
  .container-social figure {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-information {
    align-items: flex-start;
    text-align: left;
    padding-left: 2rem;
  }

  .container-information > h3 {
    text-align: justify;
    width: 70%;
    font-size: 2rem;
  }

  .container-social figure {
    width: 4rem;
    height: 4rem;
  }

  .container-schedule {
    position: absolute;
    font-size: 1.5rem;
    width: 25%;
    height: 1rem;
    right: 0;
    bottom: 0rem;
    border-radius: 2rem 0rem 0rem 0rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: all 0.5s ease-in-out;
    box-shadow: none;
    overflow: hidden;
  }

  .container-schedule:hover {
    height: 7rem;
    box-shadow: inset 0px 0px 15px var(--clr);
  }
}

@media screen and (min-width: 1440px) {
  .container-information > h1 {
    max-width: 80%;
  }

  .container-information > h3 {
    font-size: 2.5rem;
    width: 50%;
  }
}
