.container-home {
  width: 96dvw;
  height: 96dvh;
  clip-path: url(#clip);
  background-color: black;
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5)),
    url("/bg-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border-radius: 1rem;
}

@media screen and (min-height: 1200px) {
  .container-home {
    height: 98dvh;
  }
}
