@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Rubik+Vinyl&display=swap");

:root {
  /**ESQUEMA DE COLORES DIA**/
  --bg: #27445d;
  --clr: #efe9d5;
  --clr1: #f3ba69;
  --aux1: #71bbb2;
  --aux2: #497d74;
  --aux3: #800000;

  --fontStyle_1: "Montserrat", sans-serif;
  --fontStyle_2: "Bungee Hairline", sans-serif;
  --fontStyle_3: "Oi", serif;
  --fontStyle_4: "Rubik Vinyl", system-ui;
  --fontStyle_5: "Gravitas One", serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--aux1);
  padding: 0.5rem;
}

body {
  display: block;
  overflow-x: hidden;
  background-color: var(--clr);
  color: var(--bg);
  font-family: var(--fontStyle_1);
  font-size: 1.5rem;
}

body > #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > #root > main {
  min-height: 100dvh;
  width: 100%;
}

.sectionMain {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

section .container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0.1rem;
}

.styleTextMain {
  color: var(--clr);
  user-select: none;
  text-align: justify;
  font-family: var(--fontStyle_1);
}

.styleTitle {
  color: var(--clr);
  font-family: var(--fontStyle_5);
  font-weight: 500;
  font-size: 2rem;
  user-select: none;
}

.styleSubTitle {
  color: var(--aux1);
  font-family: var(--fontStyle_2);
  font-weight: bolder;
  font-size: 1.5rem;
  user-select: none;
}

.styleParagraph {
  font-size: 1.5rem;
}

.styleDescription {
  font-size: 1.3rem;
}

.styleSubDescription {
  font-size: 1.1rem;
}

.styleImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.styleBtn {
  min-width: 50%;
  max-width: 50%;
  background: var(--aux1);
  color: var(--clr);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btnCenterMap {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 0.5rem;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--bg);
  box-sizing: content-box;
  z-index: 400;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btnCenterMap:hover {
  transform: scale(1.1);
  background-color: var(--aux1);
}

.animationEntry {
  --opStart: 0;
  --opEnd: 1;
  animation: entryAnimation 0.2s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}

.rigthAnimation {
  --trfmStart: translateX(100%);
  --trfmEnd: translateX(0);
}

.leftAnimation {
  --trfmStart: translateX(-100%);
  --trfmEnd: translateX(0);
}

.pupAnimation {
  --trfmStart: scale(0.5);
  --trfmEnd: scale(1);
}

.showAnimation {
  --trfmStart: translateY(100%);
  --trfmEnd: translateY(0);
}

@keyframes entryAnimation {
  from {
    opacity: var(--opStart);
    transform: var(--trfmStart);
  }
  to {
    opacity: var(--opEnd);
    transform: var(--trfmEnd);
  }
}

@media screen and (min-width: 768px) {
  .styleTitle {
    font-size: 3.5rem;
  }

  .styleSubTitle {
    font-size: 2.5rem;
  }

  .styleParagraph {
    font-size: 2rem;
  }

  .styleDescription {
    font-size: 1.7rem;
  }

  .styleSubDescription {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .animationEntry {
    animation-range: entry 0% cover 25%;
  }

  .styleBtn:hover {
    transform: scale(1.1);
  }
}
