@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Rubik+Vinyl&display=swap");

:root {
  /**ESQUEMA DE COLORES DIA**/
  --bg: #d8cfb3;
  --clrMain: #fff;
  --clr1: #27445d;
  /*--clr2: #a65f1b;*/
  --clr2: #f3ba69;
  --aux_1: #497d74;
  --aux_2: #71bbb2;
  --aux_3: #d1f8ef;
  --aux_4: #3674b5;

  --fontStyle_1: "Montserrat", sans-serif;
  --fontStyle_2: "Bungee Hairline", sans-serif;
  --fontStyle_3: "Oi", serif;
  --fontStyle_4: "Rubik Vinyl", system-ui;
  --fontStyle_5: "Gravitas One", serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background: var(--bg);
  font-size: 2rem;
  font-family: var(--fontStyle_1);
  color: var(--clr2);
  overflow-x: hidden;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

section {
  scroll-snap-align: inherit;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

footer {
  z-index: 5;
  scroll-snap-align: inherit;
}

li {
  list-style: none;
}

a {
  font-weight: bolder;
  color: var(--clrMain);
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  section {
    scroll-snap-align: start;
  }
  footer {
    scroll-snap-align: start;
  }
}
